.about-init {
	padding-top: 40px;
	position: relative;

	&::before {
		content: '';
		position: absolute;
		background-size: 100%;
		background-image: url('../img/circle-bg.png');
		width: 882px;
		height: 882px;
		top: -102px;
		right: -275px;
	}
	
	&__box {
		background-color: #fbfbfc;
		margin-left: -15px;
		margin-top: 25px;
	}

	&__box-col {
		padding-top: 30px;
		padding-left: 30px;
		padding-bottom: 75px;
		z-index: 1;
	}

	&__item-box {
		background-color: #fff;
		background-image: linear-gradient(58deg, rgba(#fbfbfc, 1), rgba(#fbfbfc, 0));
		box-shadow: 0 3px 4px rgba(194,194,195,0.2);
		height: 100%;
		border-radius: 10px;
		padding: 40px 40px 40px 45px;
		transition: 0.2s;

		&:hover {
			box-shadow: 0 5px 8px rgba(194,194,195,0.4);
			transform: translate(0, -5px);
		}
	}

	&__item-title {
		font-size: 36px;
		line-height: 1;
		font-family: 'Bebas Neue', cursive;
		font-weight: 700;
		color: #76a9e3;

		span {
			font-size: 60px;
		}
	}

	&__item-desc {
		font-size: 24px;
		line-height: normal;
		margin-top: 10px;
	}

	&__text {
		margin-top: 75px;
		max-width: 500px;

		p {
			margin-top: 24px;
		}
	}

	&__img-box {
		margin-top: -19px;
		margin-left: -115px;
		margin-right: -48px;
	}
}

@include media-breakpoint-down(md) {
	.about-init {

		&::before {
			display: none;
		}
		
		&__image-col {
			order: -1;
			display: flex;
		}

		&__img-box {
			margin: -5px auto 0;
			max-width: 300px;
		}
	}
}

@include media-breakpoint-down(xs) {
	.about-init {

		&__item {

			&:nth-child(n + 2) {
				margin-top: 20px;
			}
		}

		&__item-box {
			padding: 20px;
		}

		&__item-title {
			font-size: 28px;

			span {
				font-size: 40px;
			}
		}

		&__item-desc {
			font-size: 20px;
		}

		&__text {
			margin-top: 40px;
		}
	}
}