.article-page {
	background-color: #fbfbfc;
	padding-top: 20px;
	padding-bottom: 50px;

	&__container {
		max-width: 840px;
	}

	&__title {
		text-align: center;
		margin-top: 28px;
	}

	&__content {
		margin-top: 30px;
	}
}