.contacts {
	position: relative;

	&::before {
		content: '';
		position: absolute;
		background-size: 100%;
		background-image: url('../img/circle-bg.png');
		width: 882px;
		height: 882px;
		top: -102px;
		right: -275px;
	}
	
	&__title {
		padding: 40px 0 25px;
	}

	&__box {
		background-color: #fbfbfc;
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
	}

	&__main {
		flex-grow: 1;
		max-width: 680px;
		padding: 25px 25px 50px;
		position: relative;
		z-index: 1;
	}

	&__info-content {
		display: flex;
		align-items: center;
		padding: 8px 13px;
	}

	&__info-img-box {
		width: 178px;
		flex-shrink: 0;
	}

	&__info-text-box {
		margin-left: 30px;
	}

	&__info-title {
		font-weight: 500;
		font-size: 24px;
		line-height: 30px;
	}

	&__info-address {
		font-weight: 700;
		margin-top: 10px;
	}

	&__person-list {
		margin: 250px -25px 0;
		display: flex;
		padding-right: 70px;
		flex-wrap: wrap;
	}

	&__person-item {
		padding: 0 25px;
		flex: 0 0 50%;
		max-width: 50%;
	}

	&__person-card {
		height: 100%;

		&:hover {
			
			.contacts__person-img-box {
				transform: translate(0, -5px);
			}
		}
	}

	&__person-content {
		padding: 0 10px 30px;
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
	}

	&__person-img-box {
		@include circle(198px);
		border: 16px solid #fff;
		overflow: hidden;
		margin-top: -146px;
		transition: transform 0.2s;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__person-title, &__person-tel {
		font-weight: 700;
	}

	&__person-title {
		margin-top: 18px;
	}

	&__person-desc {
		margin-bottom: auto;
	}

	&__person-tel {
		margin-top: 25px;

		a {
			@include hover-opacity;
		}
	}

	&__form-wrap {
		width: 100%;
		max-width: 340px;
		position: relative;

		&::before {
			content: '';
			position: absolute;
			top: -49px;
			left: -130px;
			right: -130px;
			bottom: -96px;
			background-image: url('../img/contacts-form-circle-bg.jpg');
			background-size: cover;
			background-position: center center;
			border-radius: 50%;
		}
	}

	&__form {

		.form {
			&__inner {
				padding-top: 32px;
			}

			&__title {
				font-size: 24px;
				line-height: 1;
				margin-bottom: 14px;
			}
		}
	}

	&__map {
		margin: 22px 0;
		height: 410px;
	}
}

@include media-breakpoint-down(md) {
	.contacts {

		&::before {
			display: none;
		}

		&__box {
			flex-wrap: wrap;
		}

		&__main {
			width: 100%;
			max-width: none;
		}

		&__person-list {
			margin-top: 200px;
			padding-right: 0;
		}

		&__form-wrap {
			margin: 20px auto;
		}
	}
}

@include media-breakpoint-down(sm) {
	.contacts {

		&__info-content {
			flex-direction: column;
		}

		&__info-text-box {
			margin-left: 0;
			margin-top: 15px;
			text-align: center;
		}

		&__info-title {
			font-size: 20px;
		}
	}
}

@include media-breakpoint-down(xs) {
	.contacts {

		&__main {
			padding: 10px;
		}

		&__info-img-box {
			width: 150px;
		}

		&__person-list {
			margin: 150px -10px 0;
		}

		&__person-item {
			flex: 0 0 100%;
			max-width: none;
			padding: 0 10px;

			&:nth-child(n + 2) {
				margin-top: 130px;
			}
		}

		&__person-img-box {
			width: 150px;
			height: 150px;
			margin-top: -100px;
		}

		&__form-wrap {
			margin-top: 50px;

			&::before {
				display: none;
			}

			.form {
				&__inner {
					padding: 30px 25px;
				}
			}
		}

		&__map {
			height: 250px;
		}
	}
}