.header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	padding: 0 60px;
	z-index: 2;

	&__container {
		max-width: none;
		padding: 0;
		display: flex;
	}

	&__logo {
		margin-top: 8px;
	}

	&__logo-inner {
		display: none;
	}

	&__title {
		margin-left: 13px;
		margin-top: 35px;
		font-size: 14px;
		line-height: normal;
		font-weight: 500;
		max-width: 180px;
	}

	&__nav-list {
		flex-grow: 1;
		display: flex;
		justify-content: space-between;
		margin-left: 40px;
		font-weight: 700;
		margin-top: 35px;
	}

	&__nav-link {

		@include hover-opacity;
	}

	&__time-and-request-call {
		margin-left: 60px;
		margin-top: 25px;
	}

	&__time {
		font-size: 13px;
	}

	&__request-call {
		display: inline-block;
		margin-top: 10px;
		color: #f08921;
		font-size: 15px;
		font-weight: 700;
		letter-spacing: 0.001em * 10;
		border-bottom: 2px dotted #f08921;
		padding-bottom: 3px;
		@include hover-opacity;
	}

	&__phone-list-wrap {
		margin-left: 40px;
		margin-top: 17px;
	}

	&__phone-icon {
		display: none;
	}

	&__phone-list {
		font-family: 'Bebas Neue', cursive;
		font-weight: 700;
		font-size: 20px;
		line-height: 26px;
	}

	&__phone-link {
		@include hover-opacity;
	}

	&__nav-toggle {
		display: none;
	}
}

.header--inner-page {
	background-color: #fff;
	box-shadow: 0 3px 4px rgba(194,194,195,0.2);
	padding: 0;

	.header {
		&__container {
			max-width: 1170px;
			padding-left: 15px;
			padding-right: 15px;
			align-items: center;
			height: 80px;
		}

		&__logo {
			display: none;
		}

		&__logo-inner {
			display: block;
		}

		&__title {
			display: none;
		}

		&__nav-list {
			margin-top: 0;
			margin-left: 25px;
			margin-right: 25px;
		}

		&__phone-list-wrap {
			margin-top: 0;
			margin-left: auto;
			display: flex;
			align-items: center;
		}

		&__phone-icon {
			@include circle(36px);
			@include flex-center;
			font-size: 14px;
			color: #fff;
			background-image: linear-gradient(to bottom, #f08921, #ff6600);
			margin-right: 13px;
		}

		&__time-and-request-call {
			display: none;
		}
	}
}

@media (max-width: 1700px) {
	.header {

		&__phone-list-wrap {
			position: absolute;
			right: 60px;
			top: 70px;
		}
	}

	.header--inner-page {

		.header {
			&__phone-list-wrap {
				position: static;
			}
		}
	}
}

@media (max-width: 1700px) {
	.header {

		&__logo {
			width: 150px;
		}

		&__time-and-request-call {
			position: absolute;
			top: 65px;
			right: 220px;
		}
	}
}

@include media-breakpoint-down(lg) {
	.header {
		background-color: #fff;
		box-shadow: 0 5px 10px rgba(4,3,2,.33);
		padding: 0;	

		&__container {
			padding: 5px 15px;
			align-items: center;
			flex-wrap: wrap;
		}

		&__logo {
			width: 80px;
			margin-top: 0;
		}

		&__title {
			margin-top: 0;
			max-width: 220px;
			font-size: 13px;
		}

		&__time-and-request-call {
			display: none;
		}

		&__nav-list {
			display: none;
			text-align: center;
			order: 1;
			flex: 0 0 100%;
			margin-left: 0;
			padding-bottom: 20px;
		}

		&__nav-item {
			margin-top: 10px;
		}

		&__phone-list-wrap {
			position: static;
			margin-left: auto;
			margin-top: 0;
		}

		&__nav-toggle {
			margin-left: 50px;
			@include flex-center;
			flex-direction: column;
			cursor: pointer;

			span {
				width: 30px;
				height: 4px;
				border-radius: 2px;
				margin-top: 4px;
				background-color: #000;
			}
		}
	}

	.header--inner-page {

		.header {
			&__container {
				height: auto;
			}

			&__logo {
				display: block;
			}

			&__logo-inner {
				display: none;
			}

			&__phone-icon {
				display: none;
			}

			&__nav-list {
				margin-left: 0;
				margin-right: 0;
			}
		}
	}
}

@include media-breakpoint-down(sm) {
	.header {

		&__title {
			display: none;
		}

		&__phone-list {
			font-size: 18px;
		}

		&__nav-toggle {
			margin-left: 30px;
		}

		&__nav-list {
			margin-top: 20px;
		}
	}
}